PORT=3000
SERVER_BD=172.30.149.67
USER_BD=your_user
PASSWORD_BD=your_password
NAME_BD=sis2000_QA
NAME_DB_PHP=MYSQL_QA
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=24h
JWT_RESET_EXPIRES_IN=1h
AMBIENTE='LOCAL'

# Credenciales de Correo (SMTP)
USER_EMAIL=your_email@domain.com
PASS_EMAIL=your_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# URL del Frontend para enlace de reset
FRONTEND_URL=http://localhost:3001
